# Cloud API (Fase 3)
SUPABASE_URL=
SUPABASE_KEY=
NVIDIA_NIM_API_KEY=
OPENROUTER_API_KEY=

# Local AI API (Fase 5)
USE_LOCAL_AI=true
LOCAL_WHISPER_URL=http://TU_IP_PC_TRABAJO:8001/v1/audio/transcriptions
LOCAL_OLLAMA_URL=http://TU_IP_PC_TRABAJO:11434/v1/chat/completions
OLLAMA_MODEL=llama3.1:8b
